<div>
  passenger: {{permissions.Passenger}}
  <br> Driver: {{permissions.Driver}}
  <br> Admin: {{permissions.Admin}}
</div>
<div class="container" *ngIf="permissions.Admin">
  <div class="row">
    <div class="col-md-12">
      <h3>
        ניהול ועריכת נסיעות
      </h3>
      <button class="btn btn-primary pull-right" (click)="addEvent()">
          נסיעה חדשה
        </button>
        <button class="btn btn-default pull-right" (click)="showAllEvents=!showAllEvents">הצג נסיעות</button>
        <div class="clearfix"></div>
      <table class="table table-bordered" style="direction: RTL">
        <thead>
          <tr>
            <th>כיוון</th>
            <th>צבע</th>
            <th>צבע משני</th>
            <th>התחלה</th>
            <th>סוף</th>
            <th>הסרה</th>
            <th>נוסעים</th>
          </tr>
        </thead>

        <tbody *ngIf="showAllEvents">
          <tr *ngFor="let event of events; let index = index">
            <td>
              <input type="text" class="form-control" [(ngModel)]="event.title">
              <!--(keyup)="refresh.next()"-->
            </td>
            <td>
              <input type="color" [(ngModel)]="event.color.primary">
              <!--(change)="refresh.next()"-->
            </td>
            <td>
              <input type="color" [(ngModel)]="event.color.secondary">
              <!--(change)="refresh.next()"-->
            </td>
            <td>
              <mwl-demo-utils-date-time-picker [(date)]="event.start" placeholder="Not set">
                <!--(dateChange)="refresh.next()"-->
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <mwl-demo-utils-date-time-picker [(date)]="event.end" placeholder="Not set">
                <!--(dateChange)="refresh.next()"-->
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <button class="btn btn-danger" (click)="events.splice(index, 1);deActivateEvent(event)">
                <!--; refresh.next()-->
                Delete
              </button>
              <br>
              <br>
              <br>
              <button class="btn btn-primary pull-right" (click)="updateEventFireBase(event)">
                update event
              </button>
            </td>
            <td>
              <div *ngFor="let passenger of event.passengers">
                <span (click)="removeFromTrip(event,passenger)">x</span>
                {{passenger.name}}
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!showAllEvents"></tbody>
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="editedCalendarEvent.title">
            <!--(keyup)="refresh.next()"-->
          </td>
          <td>
            <input type="color" [(ngModel)]="editedCalendarEvent.color.primary">
            <!--(change)="refresh.next()"-->
          </td>
          <td>
            <input type="color" [(ngModel)]="editedCalendarEvent.color.secondary">
          </td>
          <td>
            <mwl-demo-utils-date-time-picker [(date)]="editedCalendarEvent.start" placeholder="Not set">
              <!--(dateChange)="refresh.next()"-->
            </mwl-demo-utils-date-time-picker>
          </td>
          <td>
            <mwl-demo-utils-date-time-picker [(date)]="editedCalendarEvent.end" placeholder="Not set">
              <!--(dateChange)="refresh.next()"-->
            </mwl-demo-utils-date-time-picker>
          </td>
          <td>
            <!--  <button class="btn btn-danger" (click)="events.splice(index, 1)"> ; refresh.next()
          Delete
        </button>-->
            <br>
            <br>
            <br>
            <button class="btn btn-primary pull-right" (click)="saveEventFireBase()">
              <!--saveEvent()-->
              save event
            </button>
          </td>
          <td>
            <span *ngFor="let selectedPassenger of selectedPassengers;">
              {{selectedPassenger.name}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-5">
    <span>select passengers for trip</span>
    <ul class="list-group">
      <li *ngFor="let passenger of passengers;" [ngClass]="checkIfPassengerSelected(passenger)" (click)="toggleSelectedPassenger(passenger)">
        {{passenger.name}}
      </li>
    </ul>
    <!-- <div *ngFor="let passenger of passengers;">
      <input type="checkbox" value="{{passenger}}" [checked]="passengers.indexOf[passenger] >= 0" (change)="updateCheckedOptions(passenger, $event)"
      />
      <span>{{passenger.name}}</span>
    </div> -->
  </div>
  <!-- <button type="button" (click)="updateSelectedPassengers()">שמור נוסעים</button>
  <input type="text" (change)="checkForPassengers()"> -->


  <!-- <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer> -->
  <!-- <h1>Search passenger</h1>

  <p>selected passenger</p>
  <div *ngFor="let passenger of selectedPassengers">
    <span> {{passenger.name}}</span>
    <span (click)="removePassengerFromEvent(passenger)">remove</span>
  </div>


  <h1>Search driver</h1> -->
  <!-- <ng2-completer [(ngModel)]="driver" [datasource]="driversList" [minSearchLength]="0" (selected)="onSelectDriver($event)"></ng2-completer> -->

  <!-- <p>selected driver</p>
  <div *ngFor="let driver of selectedDrivers">
    <span>{{driver.name}}</span>
  </div>

  <button type="button" (click)="saveEventFireBase()">save event firabase></button>


  <ul>
    <li class="text" *ngFor="let event of events">
      {{ event.title }}

    </li>
  </ul> -->

</div>