<h1>passenger component </h1>
<ul>
<li class="text" *ngFor="let passenger of passengers | async" (click) = "savePassenger(passenger)">
          {{ passenger.name }}

  </li>
</ul>
<!-- <div *ngFor="let passenger of passengers">{{passenger.name}}</div>    -->
<h3>{{passengerToSave.name}}</h3>
<input type="text" [(ngModel)]="passengerToSave.name">
<button (click)="savePassenger()" class="btn btn-primary">save</button>

 
<h2> passenger after login (will be seperated for own page</h2>
<input type="text" [(ngModel)]="passengerID">
<button (click)="getPassenger()" class="btn btn-default">login</button>
<label>name:{{currentPassengerLoggedIn.name}}</label>
<button (click)= "getPassengerEvents()">get passenger events</button> 